.landing {
    background: url(img/bg.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative; /* Ensure landing content stays below navbar */
    padding-top: 80px; /* Optional: space below navbar */
}

.book{

    position: absolute;
    width: 293px;
    height: 293px;
    left: 806px;
    top: 123px;

}

.landing h1{
    /* Welcome to The Garden Of Words */

width: 454px;
height: 202px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 65px;
line-height: 83.04%;
/* or 54px */
display: flex;
align-items: center;
letter-spacing: -0.08em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
transform: translateX(200px);
}