@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: #F24405;
  --bg-color: #1B1C26;
  --dark-color: #0e152c;
  --second-color: #F2E205;
  --text-color: #F2B544;
  --third-color:#F25C05;
  --primery-color:#ffffff;
  --transition: all 0.3s;
}


/* ANIMATION VILLAGE */

@keyframes buttonClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9); /* Shrink the button slightly */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}



* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  overflow: hidden;
}

body{
    background-color: var(--bg-color);
}

.burger div {
       width: 30px;
       height: 5px;
       background-color:var(--primery-color);
       margin-bottom: 3px;
       border-radius: 20px;
       transition: all 0.3s ease; /* Smooth transition */
   }
   
   .burger {
       display: block;
       margin-left: 20px;
       
   }
   
   .menu {
       display: flex;
       margin-top: 50px;
       justify-content: space-between;
   }

   .menu h1 {
    font-size: 20px;
    transform: translateX(-110px);
    font-weight: bold; 
    color: var(--primery-color); 
  }
   
   .menu img {
       width: 50px;
       transform: translateY(-10px);
       border-radius: 10px;
       margin-right: 20px;
   }


   .burger.active {
    transform: translateX(5px);
    /* z-index: 999; */

   }
   
   #burg-1.active {
       transform: rotate(45deg) translateY(11.5px);
      
   }
   
   #burg-2.active {
       opacity: 0; /* Hide middle line */
   }
   
   #burg-3.active {
       transform: rotate(-45deg) translateY(-11.5px);
   }
   
   .search-con{
    transform: translateY(40px);
    display: flex;
    position: relative;
    width: 380px;
    margin-left: 20px;
}
  
.input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px; /* Simplified to one radius property */
    background: #31323f;
    padding-left: 10px;
    font-size: 18px;
    color: #ffffff;
}

.input:focus{
    border: none;
    outline: none;
}

.btn {
  position: absolute;
  height: 50px;
  width: 55px;
  outline: none;
  border: none;
  border-radius: 10px;
  right: 0;
  text-align: center;
  background: var(--third-color);
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.btn:focus{
  animation: search .3s;
}

/* Animation class that will be added and removed */
.btn.animate-click {
  animation: buttonClick 0.3s ease;
}

.input::placeholder {
    font-size: 17px;
}



  main {
    margin-top: 100px ;

  }


  .cato {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 15px;
    border-bottom: #656565 solid .5px;
  }

  .cato::-webkit-scrollbar{
    display: none;
  }

  .items {
    justify-content: center;
    display: flex;
    /* background-color: #1c1b29; */
    align-items: center;
    /* padding: 7px; */
    width: 135px;
    margin-left: 20px;
    border-radius: 150px;
    border: #464646 solid .25px;
  }

  .items img {
    width:100%;
    height:100%;
    /* border-radius: 20px; */
  }

  .items h1 {
    font-size: 20px;
    margin-left: 5px;
    color: var(--primery-color);
    font-family: poppins;
  }

  .popular{
    overflow-x: scroll;
    margin-top: 30px;
    margin-left: 20px;
  }

  .popular::-webkit-scrollbar{
    display: none;
  }

  .popular h1 {
    color: #ffffff;
    font-weight: 500;    
  }

  